$unit: 4vw;

body {
  padding: 10px;
  font-family: Helvetica;
  background-color: blue;
}

#opponent_boards {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: brown;
}

#left_factories {
  background-color: gray;
  grid-area: left;
}

#right_factories {
  background-color: gray;
  grid-area: right;
}

.factories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.factory {
  background-color: lime;
  border: 2px solid black;
  border-radius: 50%;

  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.inner_factory {
  width: calc((2 * $unit + 1px) * 1.25);
  height: calc((2 * $unit + 1px) * 1.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
}

.factory_spot {
  border-radius: 5%;
  min-width: calc((120px - 8 * 2px) / 5);
  width: calc((20vw - 8 * 2px) / 5);
  max-width: calc((200px - 8 * 2px) / 5);
  min-height: calc((120px - 8 * 2px) / 5);
  height: calc((20vw - 8 * 2px) / 5);
  max-height: calc((200px - 8 * 2px) / 5);
  background-color: white;
}

#main_board {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#table_center {
  min-width: 240px;
  width: 40vw;
  max-width: 400px;
  min-height: 120px;
  height: 20vw;
  display: flex;

}

#upper_main_board {
  background-color: pink;
  display: flex;
}

#pattern_lines {
  min-width: 120px;
  width: 20vw;
  max-width: 200px;
  min-height: 120px;
  height: 20vw;
  max-height: 200px;
  grid-area: pattern;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
}

.pattern_line {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
  width: 100%;
}

.pattern_spot {
  width: 100%;
  height: 100%;
  background-color: green;
}

#wall {
  min-width: 120px;
  width: 20vw;
  max-width: 200px;
  min-height: 120px;
  height: 20vw;
  max-height: 200px;
  grid-area: wall;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2px;
}

.wall_spot {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-color: red;
}

#floor {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#floor_line {
  display: flex;
  flex-direction: row;
}

.floor_spot {
  min-width: calc((120px - 8 * 2px) / 5);
  width: 6vw;
  max-width: 48px;
  height: 32px;
  background-color: olive;
}

#score {
  flex-grow: 1;
  background-color: purple;
  grid-area: score;
  line-height: 2em;
  text-align: center;
}

#score > span {
  vertical-align: middle;
}

#container {
  background: radial-gradient(40% 35%, #0aea0a, #09aa25 60%);
  border-radius: 50%;
  min-width: 100px;
  width: 10vw;
  min-height: 100px;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px black,
          inset 0 1px 0 rgba(255,255,255,0.3),
          inset 0 -5px 5px rgba(100,100,100,0.1),
          inset 0 5px 5px rgba(255,255,255,0.3);
}

#inner {
  width: 50%;
  height: 50%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(2 ,1fr);
}

.tile {
  border-radius: 5%;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px black,
         inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 -5px 5px rgba(100,100,100,0.1),
        inset 0 5px 5px rgba(255,255,255,0.3);
}
